#sortear{
  align-items: center;
}

.footer {
  height: 100%;
  text-align: center;
  margin-top: 255px;
  align-items: center;
}

#main {
  background-image: url("../assets/img/antoine-barres.jpg");
  background-size: 100%;
  background-clip:

}

img{
  width: 250px;
  height: 150px;
  border: solid grey 1px;
  border-radius: 15%;
  margin: 5px;
}

.image2{
  width: 150px;
}
