<div class="conteiner-fluid" id="main">

  <div class="conteiner ">
    <div class="row align-self-center text-center  row1" id="sortear">
      <div class="col">

        <router-outlet></router-outlet>

      </div>
    </div>
  </div>

  <div class="row align-items-end justify-content-center footer">

    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <a href="https://cdlitabaiana.com.br/" target="_blank" rel="noreferrer noopener">
          <img id="cdl" width="250px" height="200px" src="{{ cdl }}" alt="Imagem CDL não carregada">
        </a>
      </div>
    </div>

    <div class="col-4" class="card" style="width: 18rem;">
      <div>
        <a href="https://www.jamsoft.com.br/" target="_blank" rel="noreferrer noopener">
          <img id="jamsoft" width="250px" height="200px" src="{{ jamsoft }}" alt="Imagem Jamsoft não carregada">
        </a>
      </div>
    </div>

  </div>

</div>
