<a routerLink="/sorteio">

  <button id="botao" type="button" class="btn btn-danger"><strong> Sortear </strong></button>

</a>




<div class="row align-items-end justify-content-center footer">

  <div class="col img1">
    <a href="https://cdlitabaiana.com.br/" target="_blank" rel="noreferrer noopener">
      <img id="cdl" src="../assets/img/cdl.jfif" alt="Imagem CDL não carregada">
    </a>
  </div>

  <div class="col">
    <a href="https://www.jamsoft.com.br/" target="_blank" rel="noreferrer noopener">
      <img id="jamsoft" src="../assets/img/jamsoft.png" alt="Imagem Jamsoft não carregada">
    </a>
  </div>

</div>

