.card{
  justify-content: center;
  background-color: rgba(255, 251, 255, 0.368);
  min-height: 80px;
  max-width: 900px;
  margin: auto;
  align-items: center;
  margin-top: 15px;
}

button{
  height: 40px;
  width: 150px;
}

.box{
  display:inline-flex;
  background-color: rgba(255, 251, 255, 0.368);
  border-radius: 15%;
  margin: 5px;
  padding: 15px;
  color: rgba(255, 0, 0, 0.674);
  margin-top: 15px;
}

.box h1{
  font-size: 250px;
}

img{
  width: 250px;
  height: 150px;
  border: solid grey 1px;
  border-radius: 15%;
  margin: 5px;
  justify-content:center;
  align-items:center;
}

.footer{
  margin-top: 5px;
}
