<a routerLink="/inicio">
  <button id="botao" type="button" class="btn btn-danger"><strong> Voltar </strong></button>
</a>

<div class="row">
  <div class="col">
    <div class="box">
      <h1><strong>{{a}}</strong> </h1>
    </div>
    <div class="box">
      <h1><strong>{{b}}</strong> </h1>
    </div>
    <div class="box">
      <h1><strong>{{c}}</strong> </h1>
    </div>
    <div class="box">
      <h1><strong>{{d}} </strong> </h1>
    </div>
    <div class="box">
      <h1><strong>{{e}}</strong> </h1>
    </div>
    <div class="box">
      <h1><strong>{{f}}</strong> </h1>
    </div>
  </div>
</div>



<div class="row">
  <div class="col">
    <div class="card card1">
      <h3><strong> info User info User info User info User info User info User info User info User info User info User Info User Info User Info User Info User</strong></h3>
    </div>
  </div>
</div>

<div class="row align-items-center justify-content-center footer">

  <div class="col">
    <a href="https://cdlitabaiana.com.br/" target="_blank" rel="noreferrer noopener">
      <img id="cdl" src="../assets/img/cdl.jfif" alt="Imagem CDL não carregada">
    </a>
  </div>

  <div class="col">
    <a href="https://www.jamsoft.com.br/" target="_blank" rel="noreferrer noopener">
      <img id="jamsoft" src="../assets/img/jamsoft.png" alt="Imagem Jamsoft não carregada">
    </a>
  </div>

</div>

<div class="row">
  <div class="col">
    <div class="card card2" style="margin-top: 115px;">
      <br>
      <h1>Cupons anteriormente sorteados!! </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card" style="min-height: 50px; margin-top: 25px;">
      <br>
      <p>..</p>
    </div>
  </div>
</div>
