<div class="conteiner-fluid">

  <div class="row">
    <div class="col">
      <div class="card-group">
        <div class="card">
          <br><br><br>
          <h1 class="font" *ngFor="let i of numbers"> X </h1>
        </div>
        <div class="card">
          <br><br><br>
          <h1 class="font">X</h1>
        </div>
        <div class="card">
          <br><br><br>
          <h1 class="font">X</h1>
        </div>
        <div class="card">
          <br><br><br>
          <h1 class="font">X</h1>
        </div>
        <div class="card">
          <br><br><br>
          <h1 class="font">X</h1>
        </div>
        <div class="card">
          <br><br><br>
          <h1 class="font">X</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card card1">
        <h5><strong> info User info User info User info User info User info User info User info</strong></h5>
        <h5><strong> info User info User info User info User info User info User info User info</strong></h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a routerLink="/inicio">

        <button id="botao" type="button" class="btn btn-danger"><strong> Voltar </strong></button>

      </a>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card" style="height: 120px; margin-top: 160px;">
        <br>
        <h2>Cupons sorteados:</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card" style="height: 80px; margin-top: 25px;">
        <br>
        <p>User info</p>
      </div>
    </div>
  </div>

</div>
