<div class="conteiner-fluid">

  <div class="row">
    <div class="col">
    <div class="card-group">
      <div class="card">
        <br>
        <h1>X1</h1>
      </div>
      <div class="card">
        <br>
        <h1>X1</h1>
      </div>
      <div class="card">
        <br>
        <h1>X1</h1>
      </div>
      <div class="card">
        <br>
        <h1>X1</h1>
      </div>
      <div class="card">
        <br>
        <h1>X1</h1>
      </div>
      <div class="card">
        <br>
        <h1>X1</h1>
      </div>
    </div>
  </div>
</div>
  <!-- <div class="row">
    <div class="col">
      <div class="card">
        <br>
        alo
      </div>
    </div>
  </div> -->

</div>
